*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.Menu {
    font-family: 'Cairo', sans-serif;
    font-size: 17px;
    margin-left: 7%;
    width: 22%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

a:hover {
    color: red;
}

.conteneur {
    font-family: sans-serif;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatrice {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px black;
    background-color: black;
    font-family: sans-serif;
    max-width: 100vw;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.touches{
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 7px;
}

.ecran {
    font-size: 25px;
    background-color: deepskyblue;
    width: 100%;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

button{
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 3px gray;
}

button:active{
    box-shadow: 0 1px gray;
    transform: translateY(2px);
}

button[data-key="8"]{
    background-color: lightsalmon;
    color:white;
    font-weight: bold;
}

button[data-key="13"]{
    background-color: yellowgreen;
    color:white;
    font-weight: bold;
    grid-column: span 2;
}